name: 0.1.$(Rev:r)

trigger:
  batch: true
  branches:
    include:
      - master

variables:
  - name: terraform_download_sha
    value: 602d2529aafdaa0f605c06adb7c72cfb585d8aa19b3f4d8d189b42589e27bf11
  - name: terraform_version
    value: 0.12.24
  - name: tf_in_automation
    value: true
  - name: LOCATION
    value: centralus
  - name: RG
    value: terraformrg      

pool:
  vmImage: 'ubuntu-latest'

steps:
  - checkout: self
    fetchDepth: 1

  - script: echo Hello, world!
    displayName: 'Run a one-line script'

  - task: AzureCLI@2
    inputs: 
      azureSubscription: "Azure RM 1"
      scriptLocation: inlineScript
      scriptType: bash
      inlineScript:
        set -euo pipefail

        echo "Starting Environment Setup"
        echo $PWD
        
        echo "##vso[task.setvariable variable=AZURE_CLIENT_ID;issecret=true]${servicePrincipalId}"
        echo "##vso[task.setvariable variable=AZURE_CLIENT_SECRET;issecret=true]${servicePrincipalKey}"
        echo "##vso[task.setvariable variable=AZURE_SUBSCRIPTION_ID;issecret=true]$(az account show --query 'id' -o tsv)"
        echo "##vso[task.setvariable variable=AZURE_TENANT_ID;issecret=true]${tenantId}"

      addSpnToEnvironment: true
      failOnStandardError: true
    displayName: 'Environment Setup'

  - task: AzureCLI@2
    inputs:
      addSpnToEnvironment: true
      failOnStandardError: true
      scriptType: bash
      azureSubscription: "Azure RM 1"
      scriptPath: './scripts/create-backend.sh'
      scriptLocation: inlineScript
      inlineScript: |
        set -euo pipefail
        echo "Starting backend config"

        LOCATION=centralus
        RG=terraformrg

        az group create --location $(LOCATION) --name $(RG)

        echo "Finishing RG creation"

    displayName: 'Backend Config'



  - script: |
      echo Add other tasks to build, test, and deploy your project.
      echo See https://aka.ms/yaml
    displayName: 'Run a multi-line script'
